.signup-box {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: grid;
    grid-template-rows: 1fr 3.3fr;
    width: 100%;
    text-align: center;   

}

.signup-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "firstName lastName"
    "username username"
    'email email'
    'password confirmPassword' 
    'button button';
    gap: 5px;
    width: 100%;
    /* height: 100px; */
    /* gap: 0px 100px; */
    /* justify-content: center; */
    /* align-items: center; */
    /* align-content: center; */
}



#username {
  grid-area: username;
}

#email {
  grid-area: email;
}

input{
    margin-top: 5px;
}

input[type=text],
input[type=email] {
    border: 2px, solid, gray;
    border-radius: 5px;
    width: 100%;
    height: 2rem;
    padding: 0px 1%;
    text-align: center;
    box-sizing: border-box;
}

p {
    color: red;
    font-style: italic;
}

#signup-btn {
  grid-area: button;
}

label {
  padding-bottom: 20px;
}

.passwordConfirm-error { 
  position: absolute;
  bottom: 95px;
  left: 10%;
}

.password-error {
  position: absolute;
  bottom: 95px;
  left: 25%;
}

.email-error {
  position: absolute;
  bottom: 170px;
  left: 41%;
}

.username-error {
  position: absolute;
  bottom: 250px;
  left: 35%;
}

.firstname-error
{
  position: absolute;
  bottom: 330px;
  left: 14%;
}

.lastname-error {
  position: absolute;
  bottom: 310px;
  left: 14%;
}