.spot-reserve-details {
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 8rem;
    height: 100%;
}

.details-spot{
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  text-align: center;
  grid-template-areas: 
  '. .'
  'numRevs numRevs';
}

.button-container-reserve-details {
  height: 50%;
}
.price {
    color: black;
    font-weight: bold;
    font-style: normal;
}

.reviews {
  color: black;
  grid-area: numRevs;
  font-size: 1.2rem;
}

.rating {
  padding: 0 10px;
}
span.rating {
  font-size: 1.2rem;
}

.reserve-button {
  align-items: center;
  background-color: #FF5A5F;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 35px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.reserve-button:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 33px;
  left: -1px;
  width: 100%;
  position: absolute;
  top: -3px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.reserve-button:hover:after {
  transform: translate(2px, 3px);
}

.reserve-button:active {
  background-color: #ffdeda;
  outline: 0;
}

.reserve-button:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .reserve-button {
    padding: 0 40px;
  }
}