.SpotMainImage {
    display: flex;
    flex-direction: column;
    flex-flow: column-reverse;
    grid-area: mainImage;

}

.mainImage {
    max-width: 500px;
    max-height: 500px;
    border-radius: 5px;
    object-fit: cover;
}

.spot-name {
    margin: 0;
}

.spot-location {
    color: rgb(46, 46, 46);
}