.header-container {
    display: inline-flex;
    flex-direction: column;
    margin-left: 6%;
    margin-bottom: 30px;
    width: 95%;
}

.manage-spots-h1 {
    margin-bottom: 10px;
}

.create-spot-button {
    width: 11em;
    background: #D70566;
    border: 1px solid #FE375B;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 17px;
    font-weight: 800;
    line-height: 16px;
    height: 40px;
    outline: 0;
    padding: 0 10px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

  
  .create-spot-button:hover,
  .create-spot-button:active {
    background-color: initial;
    background-position: 0 0;
    color: #FE375B;
  }
  
  .create-spot-button:active {
    opacity: 0.5;
  }
  