main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header2 {
  margin-bottom: 0;
}

.p-descriptions {
  margin-bottom: 0;
  color: #111;
}

label {
  padding-bottom: 0;
}

.container {
    width: 70%;
    text-align: center;
    border-top: 2px solid rgba(163, 163, 163, 0.516);
    margin: auto;
    margin-top: 2rem;
}

.locationInfoContainer {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
}

.input-pair {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 1rem; 
  }

  label {
    font-weight: bold;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: block;
  }
  
  input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }

  #city, #latitude {
    width: 97%;
  }


  #description {
    width: 102%;
    height: 150px;
    min-width: 102%;
    max-width: 102%;
    min-height: 50px;
  }

  textarea::placeholder {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .input-container {
    position: relative;
  }
  
  .currency-symbol {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    width: 3%;
    
  }
  
  .input-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .input-container input {
    width: 91.5%;
    padding: 0.5rem 0.5rem 0.5rem 1.5rem; 
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .updateSpotBtn {
    margin: auto;
    margin-top: 25px;
    margin-bottom: 100px;
    align-items: center;
    background-color: #FF5A5F;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter,sans-serif;
    font-size: 16px;
    height: 35px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .updateSpotBtn:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 33px;
    left: -1px;
    width: 100%;
    position: absolute;
    top: -4px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
  }
  
  .updateSpotBtn:hover:after {
    transform: translate(2px, 3px);
  }
  
  .updateSpotBtn:active {
    background-color: #ffdeda;
    outline: 0;
  }
  
  .updateSpotBtn:hover {
    outline: 0;
  }
  
  @media (min-width: 768px) {
    .updateSpotBtn {
      padding: 0 40px;
    }
  }

  .error {
    color: red;
    font-weight: normal;
    text-align: left;
    margin: 0;
  }