

.logo-letters{
  max-width: 40%
}



.nav-container{
  background-color: #ffffff;
  position: fixed; 
  top: 0; 
  width: 100vw; 
  z-index: 10;
}
.nav-box {
  margin: 0;
  display: flex;
  justify-content: space-between;
  gap: 50%;
  padding: 0 40px;
  height: fit-content;
  border-bottom: 2px solid rgba(163, 163, 163, 0.516);
}

.nav.flex-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 7.5em;
}

.nav.grid-layout {
  display: grid;
  grid-template-columns: 8fr 1fr 1fr;
  gap: 10px;
}


#home-link-container {
  text-align: start;
  transition: transform 0.2s ease, opacity 0.2s ease;
  transform-origin: left;
  /* min-width: fit-content; */
  width: 10%;
}

.home-link {
  display: flex;
  justify-content: start;
  align-items: center;
  width: fit-content;
}

#home-link {
  height: fit-content;
}

.logo {
  max-width: 70px;
}

.illBRB {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  margin: auto;
  padding-top: 10px;
  color: #FE375B;
}

.createSpot {
  text-decoration: none;
  grid-area: createSpot;
  text-align: left;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  height: 100%;
  position: relative;

}
#createSpotText {
  margin: 0;
  color: rgb(61, 61, 212);

}

.profile-box {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  grid-template-areas: 
    "createSpot profileButton"
    ". dropdown";
  align-items: center;
  gap: 10px;
  width: fit-content;
  margin-top: 15px;
}


.profile-button {
  position: relative;
  grid-area: profileButton;
  justify-self: end;
  min-width: fit-content;
  width: 50%;
  height: 2.6em;
  margin: auto;
  align-items: center;
  border: 0;
  border-radius: 12px;
  background: linear-gradient(to bottom right, #FE375B, #D70566);
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  outline: transparent;
  padding: 0 1rem;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  white-space: nowrap;
}

.profile-button:not([disabled]):focus {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}

.profile-button:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}


.profile-dropdown {
  position: absolute;
  z-index: 100;
  top: 60px;
  grid-area: dropdown;
  text-align: right;
  align-self: start;
  padding: 5px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease, visibility 200ms ease;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.profile-dropdown.shown {
  padding: 10px;
  padding-right: 10px;
  visibility: visible;
  opacity: 1;
  margin-top: 5px;
  text-align: center;
  right: 30px;
  transition: opacity 200ms ease, visibility 200ms ease;

}

.profile-dropdown.hidden {
  visibility: hidden;
  opacity: 0;
  padding: 10px;
  padding-right: 10px;
  margin-top: 5px;
  text-align: center;
  right: 30px;
}


@keyframes scaleUpDown{
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(.95);
    opacity: 0.80;

  }
}

.owner-manage,
.renter-manage {
  display: flex ;
  flex-direction: column;
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(163, 163, 163, 0.516);
}

.owner, .renter {
  margin: 0;
  color: rgb(58, 58, 58);
}

#login-link,
#signup-link,
.createSpot,
#manage-spots,
#manage-reviews,
#manage-bookings,
.home-link
 {
  text-align: center;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

#login-link:hover,
#signup-link:hover,
#home-link:hover,
.createSpot:hover,
#manage-spots:hover,
#manage-reviews:hover,
#manage-bookings:hover {
  transform: scale(0.9);
  opacity: 0.75;
  cursor: pointer;
}
.home-link:hover {
  animation: scaleUpDown 0.3s ease-in-out forwards; 
}

#manage-spots,
#manage-reviews,
#manage-bookings {
  color: rgb(54, 54, 191);
}

#logout {
  background: #D70566;
  border: 1px solid #FE375B;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 13px;
  font-weight: 800;
  line-height: 16px;
  height: 30px;
  outline: 0;
  padding: 0 10px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

#logout:hover,
#logout:active {
  background-color: initial;
  background-position: 0 0;
  color: #FE375B;
}

#logout:active {
  opacity: 0.5;
}

ul {
  list-style-type: none;
}

#email {
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(163, 163, 163, 0.516);
}

.manage-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}

